// $logo-size: 12rem;

@mixin border {
  border: 2px solid black;
}

* {
  box-sizing: border-box;
  // font-size: 1.15vw;
}

// #logo {
//   img {
//     border-radius: 50%;
//     border: 2px solid grey;
//   }
// }

main {
  margin: auto;
}

header {
  @include border;
  justify-items: center;
  padding: 1vh 0;

  img {
    width: 20rem;
    border-radius: 15%;
  }
}

.side-bar {
  @include border;
  position: fixed;

  &-menu {
    @include border;
    padding: 2px 5px;
    background-color: rgba(255, 140, 0, 0.7);
    overflow-y: auto;
    max-height: 96vh;
  }
}